.slides img {
    filter: brightness(.7);
}

.parallax-container{
    height: 50%;
}

.about {
    min-height: 400px;
}

/* .parallax  {
    filter: grayscale();
} */

section {
    padding: 20px 0;
}

