.slides img {
  filter: brightness(0.7);
}

.parallax-container {
  height: 50%;
}

.brand-logo {
  font-size: 5px;
}

.about {
  min-height: 400px;
}

/* .parallax  {
    filter: grayscale();
} */

section {
  padding: 20px 0;
}
